* {
    margin: 0;
}
body {
    padding: 0px 15vw;
}

.header {


   font-size: 25px;
   color: white;
   background-color: blue;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:10px;
   gap: 20px;
   
   

}

h2 {

    font-size: 18px;
}
.link {
    

    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:royalblue;
    padding: 15px;
    gap: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    
}

a:hover {

 background-color: blue;
 transform:scale(1.1);
 transition: 200ms;
 padding: 10px;
 border-radius: 20px;
 
 
 

}


a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

img { 
    border:1px liquid;
    box-shadow: 0px 0px 5px;
}

.body1 {
 
 
    padding: 20px;
    border: 1px liquid;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
p {

    margin-top: 30px;

}

.body2 {

    margin-top: 50px;
    padding: 20px;
    border:1px liquid;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}

.body3 {

    margin-top: 50px;
    padding: 20px;
    border:1px liquid;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    
}

li {
  margin-top: 10px;
  margin-left: 50px;   
}

 footer p {
    color: white;
    text-align: center;
}

footer {
    padding: 20px;
    margin-top: 30px;
    border: none;
    background-color: blue;
    padding-bottom:30px;
}
    












