* {
    margin: 0;
}

body {
    
    
    padding: 0px 15vw;
  
}
.header {

   font-size: 20px;
   color: white;
   background-color: blue;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:30px;
   gap: 20px;
   

}
.link {
    

    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:royalblue;
    padding: 15px;
    gap: 50px;
    margin-bottom: 20px;
    
    
    
}
a:hover {

 background-color: blue;
 transform:scale(1.1);
 transition: 200ms;
 padding: 10px;
 border-radius: 20px;
 
 
 

}

a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    margin-left: 30px;
    
}

.body-1 {
    
    
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;
}
h3{

    margin-top: 10px;
}
p {

  margin-top: 20px;

}
li {

   margin: 10px;
}

.body-2 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;
}

.body-3 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;
}

.body-4 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-5 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-6 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-7 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-8 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-9 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-10 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-10 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}
.body-11 {

    margin-top: 20px;
    padding: 50px;
    box-shadow: 0px 0px 5px;
    margin-left: 80px;
    margin-right: 80px;

}


footer p {
    color: white;
    text-align: center;
}

footer {
    padding: 20px;
    margin-top: 30px;
    border: none;
    background-color: blue;
    padding-bottom:30px;
}

