* {
    margin: 0;
}

body {
    padding: 0px 15vw;
   
    

}
.header 
{

   font-size: 20px;
   color: white;
   background-color: blue;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:30px;
   gap: 20px;

}
.link {
    

    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:royalblue;
    padding: 15px;
    gap: 50px;
    margin-bottom: 20px;
    
    
}

a:hover {

 background-color: blue;
 transform:scale(1.1);
 transition: 200ms;
 padding: 10px;
 border-radius: 20px;
 
 
 

}

a{
    text-decoration: none;
    color:black;
    font-size: 18px;
}

.body{

  margin-right: 40%;
  margin-left: 40px;
  box-shadow: 0px 0px 5px gray;
  padding: 40px;
  width: 70%;

}


.container {

    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    
  


}

.skills h2 {

    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    

}
.progress-bar {

    background-color: darkslategray;
    width: 600px;
    height: 18px;
    border-radius: 5px;

}

.progress-bar div {

    height: 18px;
    border-radius: 5px;
    background-color:lch(32.22% 128.5 305.93);
    width: 40%;

}
.progress-bar div span {
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:lch(32.22% 128.5 305.93);
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    box-shadow: 0px 0px 5px gray;

    


}
.html { 

    animation: html 1s linear forwards;
  
}
.css { 

    animation: css 1s linear forwards;
  
}
.javascript { 

    animation: javascript 1s linear forwards;
  
}

@keyframes html {
    100% {
        width: 35%;
    }
}
@keyframes css {
    100% {
        width: 25%;
    }
}
@keyframes javascript {
    100% {
        width: 10%;
    }
}


.body-2 {

    margin-top: 50px;
    padding: 40px;
    box-shadow: 0px 0px 5px gray;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 70%;
    
 
}
li {
  margin-top: 10px;
  margin-left: 50px;   
}

.body-3 {

  margin-top: 50px;
  padding: 40px;
  box-shadow: 0px 0px 5px gray;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 70%;
   
    
}

footer p {
    color: white;
    text-align: center;
}

footer {
    padding: 20px;
    margin-top: 30px;
    border: none;
    background-color: blue;
    padding-bottom:30px;
}
    